{$SITE_ADDRESS} {
	encode zstd gzip

	request_body {
		max_size {$UPLOAD_MAX_REQUEST_SIZE}
	}

	@internal path /internal/*
	respond @internal 404

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	reverse_proxy control-plane:8080

	log {
		output stdout
		format console
	}
}
